
.main-title{
text-align: center;
font-family: Cairo;



}
h1.main-title {
  color: #666666;
    margin:40px 0;
}
.main-title span{
  padding: 12px 60px;
  border:0 ;
  /* border-radius: 50%; */
  background-color: #ffefef;
  border-top: solid 4px #79c79c;
  border-bottom: 0;


}
.sec-title{
  text-align: right;
  font-family: Cairo;
  /* font-weight: 200; */
  padding-right: 8px;
  font-size: 1.2rem;
margin: 5px 0 ;
color: rgba(0, 0, 0, 0.75);
}
.sec-title span{
  border: 3px solid rgba(0, 0, 0, 0.6);
padding: 5px 30px;
border-radius: 5px 5px 5px 25px;
}
.text{
    border-right: 6px solid rgba(0, 0, 0, 0.4);
    background-color: #ffefef;
    margin: 25px 30px;
    padding: 12px 10px;
    text-align: right;
    font-family: Tajawal;
    font-size: 1.3rem;

}
.seperate{
  width: 80%;
  height: 4px;
  background-color: #79c79c;
  opacity: 0.4;
  /* margin: 5px auto; */
  margin-right: 30px;

  border-radius: 3px 0 0 3px;
}

.list{
list-style:initial;
margin-right: 20px;
opacity: 0.8;

}

.list li {
  font-family: Cairo;
  font-size: 1.2rem;
  padding-right: 15px;
}
.example-cont{
width: 90%;
margin-right: 30px;
background-color: #1b2426;
border-radius: 5px;

position: relative;

}
.example-cont .span{
background-image: url("../assets/example.svg");
height:30px;
width: 30px;
background-position: center;
padding: 15px 5px;
padding-left: 25px;
display: block;
position: absolute;
top: 0;
right: 0;
opacity: 0.7;
z-index: 999;
/* background-color: #ffffff; */
border-radius: 0 0 0 5px;
background-size: contain;

}
.warning,.note{
  margin: 15px 0;
color: #ffffff;
font-family: Tajawal;
font-weight: lighter;
background-color: rgba(244,67,54,0.8);
width: 600px;
margin-right: 30px;
padding: 10px 15px;
border-radius: 3px;
display: flex;
align-items: center;
border-right: 8px solid rgba(244,67,54,1);
}
.warning .icon,.note .icon{
height:60px;
width: 60px;
background-image: url("../assets/warning.svg");
margin-left: 15px;
}
.note{
  background-color: rgba(66, 134, 244,0.8);
  border-right: 8px solid rgba(66, 134, 244,1);

}
.note .icon{
background-image: url("../assets/note.svg");
}
.warning div span,.note div span {
  font-weight: bolder;
  font-size: 1.2rem;
margin: 0 5px;
display: block;
}
.output{
  width: 90%;
  margin-right: 30px;

}
.output-text{
  width: 80%;
  background-color: #e6e6e6;
  height: 0px;
  text-align: left;
  margin-bottom: 7px;
  font-family: Cairo;
  font-weight: 400;
  overflow: hidden;
  padding: 0px 20px;

  transition: height 0.4s;
}
.output-text-active{
  border-top: solid 4px #79c79c;
  padding: 10px 20px;

  height: 150px
}
.output-text div{

}
.output-btn{
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #79c79c;
  color: #ffffff;
  font-family: Cairo;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
transition: all 0.3s;
}
.opacity35{
  opacity: 0.35;
}
.side-menu{
  position: fixed;
  left:0;
  bottom: 0;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 250px;
  background-color: #ffffff;
  z-index: 9999999;
  border-right: 2px solid #79c79c;
  width: 0;
  box-sizing: border-box;
  padding-bottom: 20px;
  transition: all 0.3s;
}
.side-menu-active {

  width:250px;
}
.all{
  position: relative;
}
.tut-content{
transition: all 0.2s;
}

.side-menu-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  font-family: Cairo;
  color: #79c79c;
  background-color: #ffffff;
  border-bottom: solid 2px #79c79c;
  width: 100%;
}
.side-menu-title{
  font-family: Cairo;
  color: #ffffff;
  background-color: #79c79c;
  width: 100%;
  height: 45px;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}
