
.main-title{
text-align: center;
font-family: Cairo;
font-weight: 400;


}
.sec-title{
  text-align: right;
  font-family: Cairo;
  opacity: 0.6;
  /* font-weight: 200; */
  padding-right: 8px;
  font-size: 1.2rem;
margin: 5px 0 ;
}
.sec-title span{
  border: 3px solid rgba(0, 0, 0, 0.6);
padding: 5px 30px;
border-radius: 5px;
}
.text{
    padding: 10px 30px;
    text-align: right;
    font-family: Tajawal;
    font-size: 1.3rem;

}
.seperate{
  width: 80%;
  height: 4px;
  background-color: #79c79c;
  opacity: 0.4;
  /* margin: 5px auto; */
  margin-right: 30px;

  border-radius: 3px 0 0 3px;
}

.list{
list-style:initial;
margin-right: 20px;
opacity: 0.8;

}

.list li {
  font-family: Cairo;
  font-size: 1.2rem;
  padding-right: 15px;
}
.example-cont{
width: 90%;
margin-right: 30px;
background-color: #1b2426;
border-radius: 5px;

position: relative;

}
.example-cont .span{
background-image: url("../assets/example.svg");
height:30px;
width: 30px;
background-position: center;
padding: 15px 5px;
padding-left: 25px;
display: block;
position: absolute;
top: 0;
right: 0;
opacity: 0.7;
z-index: 999;
/* background-color: #ffffff; */
border-radius: 0 0 0 5px;
background-size: contain;

}
.warning,.note{
  margin: 15px 0;
color: #ffffff;
font-family: Tajawal;
font-weight: lighter;
background-color: #f44336;
width: 600px;
margin-right: 30px;
padding: 10px 15px;
border-radius: 3px;
display: flex;
align-items: center;
}
.warning .icon,.note .icon{
height:60px;
width: 60px;
background-image: url("../assets/warning.svg");
margin-left: 15px;
}
.note{
  background-color: #79c79c;
}
.note .icon{
background-image: url("../assets/note.svg");
}
.warning div span,.note div span {
  font-weight: bolder;
  font-size: 1.2rem;
margin: 0 5px;
display: block;
}
