
.logo{

  height: 120px;
  background-image: url("../assets/box_green_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #79c79c;

}

nav {
  height: 60px;
  background-color: #79c79c;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
border: 1px solid #79c79c;
border-radius: 0 0 5px 5px;

}
.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  /* padding-top: 5px; */
}

.items{
  height: 100%;
  display: flex;
}
.item {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-family: Cairo;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;

}
.item:hover {
color: #79c79c;
background-color: #ffffff;
}
.item-home {
  width: 70px;

}
.item-home:hover .home {
  background-image: url("../assets/home.hover.svg");


}
.home{
  background-image: url("../assets/home.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain;
  height: 60%;
  width: 100%;

}
.side-menu-icon{
  background-image: url("../assets/sort_down_w.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain;
  height: 50%;
  width: 100%;

}
.side-menu-icon:hover{
  background-image: url("../assets/sort_down_g.svg");

}
.item-menu-active .side-menu-icon{
  background-image: url("../assets/sort_down_g.svg");

}
.item-menu-active{
  background-color: #ffffff;
}
.slogan{
border-radius: 2px 80px 2px 0px;
  padding: 0 20px;
  padding-right: 30px;
  height: 100%;
  background-color: #ffffff;
  color: #79c79c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Cairo;
}
.container-menu {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
.mobile{
  display: none;
}
.mobile-home{
  display: none;
}

.mobile-menu{
  height: 0;
  overflow: hidden;
  transition: all 0.4s;
  border-radius: 0 0 5px 5px;


  box-sizing: border-box;

}
.items-mobile{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items:center;

}
.nobr{
  border-radius: 0;
}
.item-mobile{
  display:flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 35px;
  color: #ffffff;
  background-color: #79c79c;
  font-family: Cairo;
}
.item-mobile:hover{
  display:flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 35px;
  color: #79c79c;
  background-color: #ffffff;
  font-family: Cairo;
}
@media screen and (max-width:804px) {
  .slogan{
    display: none;
  }


}
@media screen and (max-width:586px) {
  .slogan{
    display: none;
  }
  .mobile-home{
    display: flex;
  }
  .mobile{
    display: block;
    margin-left:20px;
  }
  .items{
    display: none;
  }
  .mobile-menu-active{
height: 142px;
border: solid 1px #79c79c;
border-top: solid 3px #ffffff;
  }
}
